#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#atcelement_popup .e-dropdownbase .e-highlight {
    color: #ff4081;
}