.profile {
    justify-content: center;
    display: flex;
    margin-top: 50px;
    color: black;
}

.informationCard {
    margin: 10px 10px 10px 10px;
    width: 700px;
}

.pictureCard {
    margin: 10px 10px 10px 10px;
    /*height: 60%;*/
}

.imageDiv {
    margin: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.imageBody {
    z-index: 1;
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(80px));
    transition: transform 0.3s;
}

.imageDiv:hover .imageBody {
    transform: translateY(0);
}

.Body {
    text-align: center;
    margin-bottom: 10px;
}

.previewImage {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.myImage {
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.myImage:hover {
    opacity: 0.8;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.preview {
    align-content: center;
    display: flex;
    flex-direction: column;
}