.wrapper{
    position: fixed;
    display: flex;
    width: 100%;
    height: 530px;
    max-height: 530px;

    /* REVIEW: Commented code was removed from here */
}

.panelSection{
    background-color: white;
    overflow: auto;
    height: 100%;
    color: black;
}

.codingSection{
    height: 100%;
}

.handle{
    background-color: #232937;
    height: 1%;
    cursor: row-resize;
}

.content{
    height: 100%;
    width: 100%;
}

.textareaLayout{
    position: fixed;
    height: 100%;
    resize: none;
}